<section class="bg-indigo rounded-lg shadow-sm p-20 m-20 flex flex-col gap-5">
  <h1 class="text-white !text-5xl">Search flights now!</h1>
  <div class="flex flex-col max-w-min">
    <form class="flex gap-5" [formGroup]="searchFlightForm">
      <app-form-field
        formControlName="currentStation"
        label="Origin"
        placeholder="Take Flight from..."
        icon="flight_takeoff"></app-form-field>
      <app-form-field
        formControlName="arrivalStation"
        label="Destination"
        placeholder="Touch Down in..."
        icon="flight_land"></app-form-field>
    </form>
    <app-button
      class="self-end"
      text="Explore Destinations"
      (action)="searchFlight()"></app-button>
  </div>
</section>
